@import "tailwindcss";

@layer base {
  :root {
    --brand-pink: #dc00d3;
    --brand-cyan: #0cffff;
    --brand-navy: #010042;
    --brand-light: #f8f8f8;
    --brand-light-2: #fafafa;
  }

  @theme inline {
    --color-brand-pink: var(--brand-pink);
    --color-brand-cyan: var(--brand-cyan);
    --color-brand-navy: var(--brand-navy);
    --color-brand-light: var(--brand-light);
    --color-brand-light-2: var(--brand-light-2);
  }
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
